<h2><%= @message.title %></h2>
<p><%= @message.descriptipn %></p>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_message_path(@message) %>
<%= link_to "Delete", message_path(@message), method: :delete, data: {confirm: "ARE YOU SURE TO DELETE THIS BABEEE??"} %>
